<div class="content">

  <share-buttons [theme]="'circles-dark'"
    [include]="['facebook','twitter','linkedin','pinterest','telegram','messenger','whatsapp','sms','email','copy']"
    [title]="'Tienda de productos personalizables'" [description]="'Personaliza productos con tu estilo propio'"
    [showText]="true" [image]="'https://rickandmortyapi.com/api/character/avatar/3.jpeg'"
    [tags]="'tienda,personaliza,fueradelmolde,diseños'" [show]="5" [url]="'https://test-two-wine.vercel.app/imagenes'"
    [autoSetMeta]="false" (closed)="closed($event)" (opened)="opened($event)">
  </share-buttons>


  <share-buttons [theme]="'circles-dark'"
    [include]="['facebook','twitter','linkedin','pinterest','telegram','messenger','whatsapp','sms','email','copy']"
    [title]="'Tienda de productos personalizables'" [description]="'Personaliza productos con tu estilo propio'"
    [showText]="true" [image]="'https://fueradelmolde.gumlet.io/menu/image_web/OfertasDisenos.png'"
    [tags]="'tienda,personaliza,fueradelmolde,diseños'" [show]="5" [url]="'https://test-two-wine.vercel.app/prueba'"
    [autoSetMeta]="false" (closed)="closed($event)" (opened)="opened($event)">
  </share-buttons>

</div>